.logo {
  color: #55acee;
  font-size: 2em;
}

.sign-up {
  border-color: #ff5a5f;
  color: #ff5a5f;
  transition: background-color .5s ease, color .5s ease;
}

.sign-up:hover {
  background-color: #ff5a5f;
  color: white;
  border-color: #ff5a5f;
}

.jumbotron {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background: url(../images/village.jpg) no-repeat center center;
  background-size: cover;
  min-height: 96.5vh;
  text-align: center;
}

.title {
  font-size: 8.5em;
  color: #ff5a5f;
}

.get-started {
  color: #ff5a5f;
  border-radius: 40px;
  transition: background-color .5s ease, color .5s ease;
}

.get-started:hover {
  color: white !important;
}

.get-started:focus {
  color: white !important;
}

.image {
  padding: 0 !important;
}

/*This will affect the Galaxy S5 with a width of 360px and the iPhone 5 with a width of 320px*/
@media only screen and (max-width: 360px) and (min-width: 320px) {
  .title {
    /*bottom: 45px;*/
    font-size: 3.4em;
  }

  .get-started {
    position: relative;
    right: 10px;
  }
}

.excursion-area {
  min-height: 40vh;
}

/*This will affect the Nexus 5X & Nexus 6P with widths of 412px and the iPhone 6 with a width of 375px
as well as the iPhone 6 Plus with a width of 414px*/
@media only screen and (max-width: 414px) and (min-width: 375px) {
  .title {
    font-size: 4em;
  }
  .get-started {
    position: relative;
    right: 10px;
  }
}

/*This will affect the iPad with a width of 768px*/
@media only screen and (width: 768px) {
  .get-started {
    position: relative;
    right: 10px;
  }
}
/*This will affect the iPad Pro with a width of 1024px*/
@media only screen and (width: 1024px) {
  .get-started {
    position: relative;
    right: 20px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  .get-started {
    position: relative;
    right: 30px;
  }
}

@media only screen and (min-width: 1401px) {
  .get-started {
    position: relative;
    right: 20px;
  }
}
